# This file includes global variables that will be available inside your project
# You can access this variables like this: console.log(process.env.VARIABLE_NAME)

# Front-End Variables
BASENAME=localhost://localhost:3001
